.info__wrapper{
	padding:50px 0px;
	& .outer__info{
		& .grid{
			display: grid;
			grid-template-columns:repeat(2 ,1fr);
			grid-column-gap:20px;
			&>.elem{
				position: relative;
				padding-bottom: 180px;
				text-decoration: none;
				overflow:hidden;
				&:before{
					content:"";
					position: absolute;
					left: 0px;
					width: 100%;
					height: 100%;
					background-color:rgba(0,0,0,.3);
					opacity:0;
					z-index: 2;
					transition:.5s ease all;
				}
				&:hover{
					&:before{
						opacity:1;
					}
					& picture{
						transform:scale(1.03);
					}
				}
				& picture{
					position: absolute;
					left: 0px;
					top:0px;
					width: 100%;
					height: 100%;
					transition:.3s ease all;
					object-fit:cover;
					& img{
						width: 100%;
						height: 100%;
						object-fit:cover;
					}
				}
				& .desc{
				    background-color: #f2f2f2;
					color: #464654;
					padding:25px 30px;
					width: auto;
					display: inline-flex;
					flex-direction:column;
					position: relative;
					z-index: 3;
					margin-top: 20px;
					margin-left: 20px;
					align-items:flex-start;
					& .btn{
						margin-top: 7px;
						&>span{
							min-width: 160px;
						    min-height: 55px;
						    display: -webkit-inline-box;
						    display: -ms-inline-flexbox;
						    display: inline-flex;
						    -webkit-box-align: center;
						    -ms-flex-align: center;
						    align-items: center;
						    -webkit-box-pack: center;
						    -ms-flex-pack: center;
						    justify-content: center;
						    border: 2px solid #ec4f30;
						    background-color: #ec4f30;
						    text-decoration: none;
						    font-size: 16px;
						    line-height: 18px;
						    font-weight: 400;
						    color: #fff;
						    border-radius: 3px;
						    -webkit-transition: .3s ease;
						    &:hover{
					    	    border-color: #f0775f;
							    background: #f0775f;
							    color: #fff;
						    }
						}
					}
					&>span{
						display: block;
						margin-bottom: 10px;
						font-size: 16px;
						line-height: 24px;
						font-family:"Bitter" ,sans-serif;
					}
					&>p{
						margin:0px;
						font-weight: bold;
						font-size: 30px;
						line-height: 36px;
						margin-bottom: 6px;
						font-family:"Bitter" ,sans-serif;
					}
				}
			}
		}
		&>.top{
			max-width: 640px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 50px;
			& .btn{
				margin-top: 50px;
				&>a{
					min-width: 130px;
				    min-height: 40px;
				    display: -webkit-inline-box;
				    display: -ms-inline-flexbox;
				    display: inline-flex;
				    -webkit-box-align: center;
				    -ms-flex-align: center;
				    align-items: center;
				    -webkit-box-pack: center;
				    -ms-flex-pack: center;
				    justify-content: center;
				    border: 2px solid #ec4f30;
				    background-color: #ec4f30;
				    text-decoration: none;
				    font-size: 16px;
				    line-height: 18px;
				    font-weight: 400;
				    color: #fff;
				    border-radius: 3px;
				    -webkit-transition: .3s ease;
				    &:hover{
				    	border-color: #f0775f;
					    background: #f0775f;
					    color: #fff;
				    }
				}
			}
			&>p{
				margin:0px;
				color:#454545;
				font-size: 17px;
				line-height: 24px;
			}
			&>h6{
				margin-top: 0px;
				font-size: 26px;
				margin-bottom: 15px;
				line-height: 34px;
				color:#454545;
				font-family:"Bitter" ,sans-serif;
				font-weight: bold;
			}
		}
	}
}
@media (max-width: 1200px){
	.info__wrapper .outer__info .grid>.elem .desc>p{
		font-size: 24px;
		line-height: 30px;
	}
	.info__wrapper .outer__info>.top>h6{
		font-size: 23px;
		line-height: 31px;
		margin-bottom: 10px;
	}
}
.info__wrapper .outer__info .grid>.elem .desc{
	max-width: calc(100% - 40px)
}
@media (max-width: 991px){
	.info__wrapper .outer__info .grid{
		grid-template-columns:1fr;
		grid-row-gap:30px;
	}
}
@media (max-width: 480px){
	.info__wrapper .outer__info .grid>.elem .desc{

		margin-top: 12px;
		margin-left: 12px;
		max-width: calc(100% - 24px);
	}
	.info__wrapper .outer__info .grid>.elem .desc{
		padding:15px 20px;
	}
	.info__wrapper{
		padding:25px 0px;
	}
	.info__wrapper .outer__info>.top .btn{
		margin-top: 15px;
	}
	.info__wrapper .outer__info>.top{
		margin-bottom: 25px;
	}
}