.form__modal{
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	background-color:#fff;
	z-index: 3;
	& .inner__modal{
		height: 100%;
	}
}
.form__wrapper .top__part{
	display: flex;
	flex-direction:column;
}
.form__wrapper{
	display: flex;
	height: 100%;
	& .photos__info{
		text-align:center;
		margin-bottom: 0px;
		margin-top: auto;
		padding-top: 20px;
		& p{
			margin:0px;
			font-size: 12px;
			line-height: 16px;
			color:#545454;
			font-weight: 400;
		}
	}
	& .container{
		display: flex;
		& .outer__form{
			display: flex;
		}
	}
	& .outer__form{
		width: 100%;
		display: flex;
	}
	& .outer__form form{
		width: 100%;
		display: flex;
		flex-direction:column;
		justify-content :space-between;
	}
	& .bottom__part{
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding:56px 56px;
		&.second__state{
			padding-top: 20px;
			padding-bottom: 20px;
			border-top:1px solid #E3E3E3;
		}
		& .step__two{
			& .inn{
				display: flex;
				justify-content:space-between;
			}
		}
		& .step__three  , & .step__four{
			& .inn{
				display: flex;
				justify-content:space-between;
			}
		}
		&>div{
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;
		}
		& a.regular-btn{
			display: inline-flex;
			align-items:center;
			justify-content:center;
			font-size: 16px;
			line-height: 24px;
			color:#fff;
			padding-left: 24px;
			padding-right: 24px;
			min-height: 43px;
			background-color:#EE4B2B;
			border:1px solid #EE4B2B;
			border-radius: 6px;
			transition:.3s ease all;
			&:hover{
				opacity:.7;
			}
		}
		& a.cancel-btn , a.back-btn{
			display: inline-flex;
			align-items:center;
			justify-content:center;
			font-size: 16px;
			line-height: 24px;
			color:#EE4B2B;
			padding-left: 24px;
			padding-right: 24px;
			min-height: 43px;
			border:1px solid #EE4B2B;
			border-radius: 6px;
			transition:.3s ease all;
			&:hover{
				background-color:#EE4B2B;
				color:#fff;
			}
		}
	}
	& .top__part{
		padding-top: 52px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-height: 100%;
		overflow-y:auto;
		overflow-x:hidden;
		padding-left: 56px;
		padding-right: 56px;
		&::-webkit-scrollbar {
		  width: 6px;
		  border-radius: 250px
		}
		 
		&::-webkit-scrollbar-track {
			background-color:#E7E7E7;
		  border-radius: 250px
		}
		 
		&::-webkit-scrollbar-thumb {
		  background-color:#B8B8B8;
		  border-radius: 250px;
		}
	}
	& .grid__photos{
		display: flex;
		align-items:flex-start;
		justify-content:center;
		margin-top: 48px;
		width: 100%;
		flex-wrap:wrap;
		& .elem{
			margin:10px 10px;
			margin-top: 0px;
		}
		& .droppable__area{
			min-width: 212px;
			max-width: 212px;
			margin-top: 0px!important;
			margin-left: 10px!important;
			margin-right: 10px!important;
			margin-bottom: 10px!important;
			text-decoration: none;
			 & *{
			 	text-decoration: none!important;
			 }
			&>span img{
				min-width: 90px;
				max-width: 90px;
			}
		}
		& .elem{
			min-width: 212px;
			max-width: 212px;
			& .desc{
				margin-top: 7px;
				display: flex;
				justify-content:space-between;
				padding-left: 13px;
				padding-right: 13px;
				& .controls{
					display: flex;
					align-items:flex-start;
					justify-content:flex-end;
					position: relative;
					top:1px;
					&>a{
						display: inline-flex;
						margin-right: 6px;
						min-width: 20px;
						max-width: 20px;
						min-height: 20px;
						max-height: 20px;
						align-items:center;
						justify-content:center;
						&:hover svg path{
							fill:#EE4B2B;
						}
						& svg{
							max-width: 100%;
							width: 20px;
							height: 20px;
							& path{
								transition:.3s ease all;
							}
						}
						&:last-child{
							margin-right: 0px;
						}
					}
				}
				& .left{
					margin-right: 10px;
					&>p{
						margin:0px;
						font-size: 16px;
						line-height: 20px;
						font-weight: bold;
						color:#454545;
					}
				}
			}
			&>.media{
				position: relative;
				padding-bottom: 100%;
				height: 0px;
				cursor:pointer;
				&.selected{
					& .select{
						background-color:#EE4B2B;
					}
				}
				& .inn__loading{
					position: absolute;
					left: 0px;
					top:0px;
					width: 100%;
					height: 100%;
					border:1px solid #DEDEDE;
					border-radius: 8px;
					display: flex;
					align-items:center;
					justify-content:center;
					flex-direction:column;
					& .progress__loading{
						& .circle{
							display: flex;
						}
						animation:spin 1.5s linear infinite;
					}
					&>p{
						margin-top: 20px;
						margin-bottom: 0px;
						font-size: 18px;
						line-height: 24px;
						font-weight: bold;
						color:#B7B7B7;
					}
				}
				& .select{
					position: absolute;
					bottom:10px;
					right: 10px;
					width: 22px;
					height: 22px;
					background-color:rgba(255,255,255,.5);
					border-radius: 250px;
					transition:.3s ease all;
				}
				& img{
					width: 100%;
					height: 100%;
					position: absolute;
					left: 0px;
					top:0px;
					object-fit:cover;
					border-radius: 7px;
				}
			}
		}
	}
	& .upload__photos{
		width: 100%;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		&>input{
			position: absolute;
			left: -25000px;
		}
		& .droppable__area{
			margin-top: 40px;
			cursor:pointer;
			position: relative;
			padding:32px 24px;
			background-color:rgba(135,173,173,.05);
			border-radius: 10px;
			border:1px dashed #87ADAD;
			min-height: 220px;
			display: flex;
			align-items:center;
			justify-content:center;
			flex-direction:column;
			& .overlay{
				display: block!important;
				position: absolute;
				left: -1px;
				top:-1px;
				width: calc(100% + 2px);
				height: calc(100% + 2px);
				border-radius: 10px;
				background-color:#25718A;
				opacity:0;
				transition:.4s ease all;
				& .inn{
					display: flex;
					flex-direction:column;
					align-items:center;
					justify-content:center;
					width: 100%;
					height: 100%;
					&>p{
						margin:0px;
						font-size: 16px;
						line-height: 24px;
						color:#FAFAFA;
						font-weight: 500;
						max-width: 160px;
						margin-left: auto;
						margin-right: auto;
						font-family:"Bitter" ,sans-serif;
					}
					& .media{
						display: flex;
						align-items:center;
						justify-content:center;
						margin-bottom: 15px;
						& img{
							max-width: 85px;
						}
					}
				}
			}
			& input{
				position: absolute;
				left: -25000px;
			}
			&>span{
				display: flex;
				align-items:center;
				justify-content:center;
				margin-bottom: 20px;
			}
			&>p{
				text-align:center;
				font-size: 16px;
				line-height: 24px;
				margin:0px;
				color:#545454;
				& span{

					color:#EE4B2B;
					text-decoration: underline;
				}
			}
		}
		&>p{
			text-align:center;
			margin-top: 0px;
			margin-bottom: 0px;
			font-size: 16px;
			line-height: 24px;
			color:#636363;
			& a{
				color:#EE4B2B;
				text-decoration: underline;
			}
			& span{
				color:#343434;
			}
		}
		&>h6{
			text-align: center;
			margin-bottom: 12px;
			margin-top: 0px;
			font-size: 24px;
			line-height: 32px;
			color:#454545;
			font-family:"Bitter" ,sans-serif;
			font-weight: 500;
		}
	}
	& .steps{
		display: flex;
		align-items:center;
		justify-content:center;
		max-width: 950px;
		margin-bottom: 80px;
		margin-left: auto;
		margin-right: auto;
		&>.elem__step{
			display: flex;
			align-items:center;
			justify-content:flex-start;
			&.current{
				&>span{
					background-color:#25718A;
					color:#fff;
				}
			}
			&>p{
				white-space: nowrap;
				margin:0px;
				font-size: 18px;
				line-height: 24px;
				color:#454545;
				margin-left: 12px;
			}
			&>span{
				display: inline-flex;
				align-items:center;
				justify-content:center;
				color:#87ADAD;
				font-size: 18px;
				line-height: 24px;
				font-weight: bold;
				min-width: 40px;
				max-width: 40px;
				min-height: 40px;
				max-height: 40px;
				border-radius: 250px;
				background-color:#F2F2F2;
			}
		}
		& .spacer{
			width: 100%;
			margin:0px 32px;
			height: 1px;
			background-color:#B7B7B7;
		}
	}
}	
.uploaded__files{
	margin-top: 28px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	& .inn{
		display: grid;
		grid-template-columns:repeat(5 ,1fr);
		grid-column-gap:28px;
		grid-row-gap:28px;
		
	}
}
.uploaded__files .inn .elem .desc .controls>a{
	font-size: 0px;
}
.form__wrapper .top__part{
	padding-bottom: 10px;
}
.option__wrapper{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.size__picker{
	max-width: 1200px;
	margin-left: auto;
	& .inner__size{
		width: 100%;
		display: flex;
		align-items:flex-start;
		justify-content:space-between;
		& .right__part{
			width: calc(55% - 25px);
			& .size__wrapper{
				position: relative;
				& .size__picker--list{
					border:1px solid #DEDEDE;
					border-radius: 8px;
					overflow:hidden;
					margin-bottom: 30px;
					&>.elem{
						display: flex;
						align-items:center;
						justify-content:space-between;
						padding:18px 22px;
						cursor:pointer;
						&.disabled{
							opacity:.5;
							pointer-events:none;
						}
						& .right{
							&>span{
								font-size: 18px;
								line-height: 24px;
								color:#454545;
							}
						}
						& .left{
							display: flex;
							align-items:center;
							justify-content:space-between;
							margin-right: 12px;
							& p{
								margin:0px;
								font-size: 20px;
								line-height: 24px;
								color:#454545;
								& img{
									display: inline;
									position: relative;
									top:8px;
								}
							}
						}
						&:nth-child(odd){
							background-color:rgba(0,0,0,.03);
						}
						&:nth-child(even){
							background-color:rgba(0,0,0,.06);
						}
					}
				}
				& .float__part{
					position: sticky;
					bottom:0px;
					display: flex;
					align-items:center;
					justify-content:space-between;
					padding:24px 22px;
					background-color:#25718A;
					border-radius: 8px;
					&>span{

						font-size: 24px;
						line-height: 28px;
						color:#FAFAFA;
						font-weight: 400;
					}
					&>p{
						margin:0px;
						font-size: 24px;
						line-height: 28px;
						color:#FAFAFA;
						display: flex;
						align-items:center;
						justify-content:flex-start;
						& img{
							margin:0px 5px;
							position: relative;
							top:1px;
						}
					}
				}
			}
			&>.top__select{
				display: flex;
				align-items:center;
				margin-bottom: 20px;
				&>span{
					display: inline-flex;
				}
				justify-content:space-between;
				&>p{
					margin:0px;
					margin-right: 12px;
					font-size: 24px;
					line-height: 32px;
					color:#242424;
					font-weight: 500;
					font-family:"Bitter" ,sans-serif;
				}
			}
		}
	}
	margin-right: auto;
	& .left__part{
		width: calc(45% - 25px);
		& .bottom__info{
			display: flex;
			align-items:flex-start;
			justify-content:space-between;
			&>a{
				& img{
					width: 32px;
					min-width: 32px;
				}
			}
			&>p{
				margin:0px;
				font-size: 18px;
				line-height: 26px;
				color:#353535;
				font-weight: 400;
				margin-right: 12px;
				padding-top: 6px;
			}
		}
		& .media{
			position: relative;
			height: 0px;
			padding-bottom: 100%;
			margin-bottom: 8px;
			& img{
				position: absolute;
				left: 0px;
				top:0px;
				width: 100%;
				height: 100%;
				border-radius: 9px;
			}
		}
	}
}
.option__wrapper{
	& .inner__option{
		display: flex;
		align-items:flex-start;
		justify-content:space-between;
		& .right__part{
			width: calc(55% - 25px);
			& .result{
				margin-top: 36px;
				padding-top: 36px;
				border-top:1px solid #E4E4E4;
				& p{
					margin:0px;
					margin-bottom: 16px;

					font-size: 18px;
					line-height: 26px;
					color:#6A6A6A;
					&.size{
						& span{
							font-size: 18px;
							line-height: 26px;
							color:#2E2E2E;
							padding-left: 10px;
							& img{
								display: inline;
								position: relative;
								top:8px;
								min-width: 10px;
								max-width: 10px;
								margin:0px 4px;
							}
						}
					}
					&.price{
						& span{

							font-size: 20px;
							line-height: 26px;
							font-weight: 600;
							color:#353535;
							padding-left: 16px;
						}
					}
				}
			}
			& .choose__element{
				& .choose__box{
					display: flex;
					align-items:center;
					justify-content:flex-start;
					flex-wrap:wrap;
					margin-top: -6px;
					margin-left: -6px;
					&>a{
						display: flex;
						align-items:center;
						justify-content:center;
						padding-left: 24px;
						padding-right: 24px;
						text-decoration: none;
						min-height: 44px;
						border-radius: 6px;
						border:1px solid #DBDBDB;
						font-size: 16px;
						line-height: 24px;
						font-weight: 400;
						color:#454545;
						transition:.4s ease all;
						margin:6px;
						&.current{
							border-color:#EE4B2B;
						}
					}
				}
				& .top{
					display: flex;
					align-items:center;
					justify-content:flex-start;
					margin-bottom: 16px;
					&>p{
						margin:0px;
						font-size: 18px;
						line-height: 26px;
						font-weight: 400;
						color:#6A6A6A;
					}
					&>span{
						display: inline-flex;
						align-items:center;
						justify-content:center;
						margin-right: 6px;
						& img{
							min-width: 14px;
							max-width: 14px;
						}
					}
				}
				margin-bottom: 28px;
			}
			& .group__input{
				margin-bottom: 28px;
				&>p{
					margin-top: 0px;
					margin-bottom: 12px;
					font-size: 18px;
					line-height: 26px;
					color:#6A6A6A;
					font-weight: 400;
				}
			}
			& .title{
				&>h6{
					margin-top: 0px;
					margin-bottom: 20px;
					font-size:24px;
					line-height: 32px;
					font-weight: 500;
					color:#242424;
				}
				display: flex;
				align-items:center;
				justify-content:space-between;
				&>span{
					display: none;
				}
			}
		}
		& .left__part{
			width: calc(45% - 25px);
			& .bottom__info{
				display: flex;
				align-items:flex-start;
				justify-content:space-between;
				&>a{
					& img{
						width: 32px;
						min-width: 32px;
					}
				}
				&>p{
					margin:0px;
					font-size: 18px;
					line-height: 26px;
					color:#353535;
					font-weight: 400;
					margin-right: 12px;
					padding-top: 6px;
				}
			}
			& .media{
				position: relative;
				height: 0px;
				padding-bottom: 100%;
				margin-bottom: 8px;
				& img{
					position: absolute;
					left: 0px;
					top:0px;
					width: 100%;
					height: 100%;
					border-radius: 9px;
				}
			}
		}
	}
}
.container__radio {
  display: flex;
  align-items:center;
  justify-content:flex-start;
  margin-bottom: 0px;
}

/* Hide the browser's default radio button */
.container__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio__mark {
  position: relative;
  display: inline-flex;
  margin-right: 16px;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border:1px solid #EE4B2B;
}

/* When the radio button is checked, add a blue background */
.container__radio input:checked ~ .radio__mark {
  background-color: #EE4B2B;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio__mark:after {
  content: "";
  position: absolute;
  display: none;
}
.added__cart{
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 200000000;
	background-color:rgba(188,188,188,.4);
	& .inner{
		width: 100%;
		height: 100%;
		padding:25px 15px;
		display: flex;
		align-items:center;
		justify-content:center;
		& .box{
			width: 100%;
			max-width: 485px;
			background-color:#FFFFFF;
			& .added__info{
				max-width: 430px;
				padding-left: 20px;
				padding-right: 20px;
				margin-left: auto;
				padding-top: 35px;
				padding-bottom: 35px;
				text-align:center;
				margin-right: auto;
				&>p{
					margin:0px;
					font-size: 16px;
					line-height: 135%;
					color:#454545;
					font-weight: 400;
				}
				& .btns{
					display: grid;
					grid-template-columns:repeat(2 ,1fr);
					grid-column-gap:16px;
					margin-top: 35px;
					& .outline-btn{
						min-height: 44px;
						display: flex;
						align-items:center;
						justify-content:center;
						border-radius: 6px;
						border:1px solid #EE4B2B;
						text-decoration: none;
						font-size: 16px;
						line-height: 24px;
						font-weight: 400;
						color:#EE4B2B;
						transition:.3s ease all;
						&:hover{
							color:#fff;
							background-color:#EE4B2B;
						}
					}
					& .regular-btn{
						display: inline-flex;
						align-items:center;
						justify-content:center;
						min-height: 44px;
						border-radius: 6px;
						background-color:#EE4B2B;
						text-decoration: none;
						font-size: 16px;
						line-height: 24px;
						font-weight: 400;
						color:#FEFEFE;
						transition:.3s ease all;
						&:hover{
							opacity:.7;
						}
					}
				}
				&>h6{
					margin-top: 0px;
					margin-bottom: 12px;
					font-size: 24px;
					line-height: 32px;
					font-weight: 600;
					font-family:"Bitter" ,sans-serif;
					color:#454545;
				}
			}
			&>.top{
				padding:35px 15px;
				display: flex;
				align-items:center;
				justify-content:center;
				background-color:#25718A;
			}
		}
	}
}
.tooltip__box{
	max-width: 260px;
	width: 100%;
	padding:12px 16px;
	border-radius: 6px;
	background-color:#25718A;
	position: absolute;
	z-index: 20;
	&>p{
		margin:0px;
		font-size: 12px;
		line-height: 18px;
		color:#FEFEFE;
		font-weight: 400;
	}
}
.size__picker--list{
	max-height: 480px;
	overflow-y:auto!important;
	&::-webkit-scrollbar {
		  width: 6px;
		  border-radius: 250px
		}
		 
		&::-webkit-scrollbar-track {
			background-color:#E7E7E7;
		  border-radius: 250px
		}
		 
		&::-webkit-scrollbar-thumb {
		  background-color:#B8B8B8;
		  border-radius: 250px;
		}
}
.form__wrapper .bottom__part a.cancel-btn, .form__wrapper .bottom__part a.back-btn{
	text-decoration: none;
}
.form__wrapper .top__part{
	padding-top: 32px;
}
.form__wrapper .bottom__part{
	position: fixed;
	bottom:0px;
	left: 0px;
	width: 100%;
	padding:20px 140px;
	box-shadow:0px 0px 30px rgba(0,0,0,.3);
	& .step__one , & .step__two , & .step__three , & .step__four{
		width: 100%;
		&>.inn{
			width: 100%;
			display: flex;
			justify-content:space-between;
			&>.regular-btn{
				padding-left: 80px;
				padding-right: 80px;
				text-decoration: none;
				&.disabled{
					opacity:.6;
					pointer-events:none;
				}
			}
		}
	}
	&>div{
		max-width: 100%;
	}
}
.form__wrapper .steps{
	margin-bottom: 48px;
}
.form__wrapper .top__part{
	padding-bottom: 30px;
}
.form__wrapper .upload__photos .droppable__area .overlay{
	text-align:center;
}
.form__wrapper .grid__photos .elem{
	min-width: 220px;
	max-width: 220px;
}
.form__wrapper .grid__photos .elem .desc{
	padding-left: 8px;
	padding-right: 8px;
	& .controls{
		&>a{
			min-width: 24px;
			max-width: 24px;
			min-height: 24px;
			max-height: 24px;
			background-color:#F2F2F2;
			border-radius: 4px;
			margin-right: 6px;
			transition:.3s ease all;
			&:hover{
				opacity:.7;
			}
			&:last-child{
				margin-right: 0px;
			}
		}
	}
	& .left{
		&>p{
			color:#454545;
			font-weight: 400;
		}
	}
}
.form__wrapper .grid__photos .elem .desc{
	align-items:center;
}
.form__wrapper .grid__photos .elem .desc .left{
	width: calc(100% - 65px);
	margin-right: 0px;
	&>p{
		text-overflow: ellipsis;
		overflow: hidden; 
		white-space: nowrap;
	}
}
.form__wrapper .grid__photos .elem>.media .select{
	left: 8px;
	top:8px;
	background-color:#fff;
	&:before{
		content:"";
		position: absolute;
		top:2px;
		left: 2px;
		width: calc(100% - 4px);
		height: calc(100% - 4px);
		border-radius: 250px;
		background:url('../img/ch.svg');
		background-repeat: no-repeat;
		background-size: 9px;
		background-position: center;
		background-color:#EE4B2B;
		opacity:0;
		transition:.3s ease all;
	}
}
.form__wrapper .grid__photos .elem>.media.selected .select{
	background-color:#fff;
	&:before{
		opacity:1;
	}
}
.form__wrapper .bottom__part{
	background-color:#fff;
}
.form__wrapper .steps{
	width: 100%;
}
.size__picker{
	width: 100%;
}
.size__picker .inner__size .right__part .size__wrapper .size__picker--list>.elem .left p img{
	top:0px;
}
.size__picker .inner__size .right__part .size__wrapper .size__picker--list>.elem.disabled{
	opacity:1;
	& .left{
		opacity:.5;
	}
	& .right{
		>span{
			font-size: 12px;
			line-height: 15px;
			color:#545454;
			margin-left: 10px;
			display: inline-flex;		}
	}
}
.size__picker--mobile .dropdown__box ul li a{
	&.disabled{
		justify-content:space-between;
		pointer-events:none;
		&>p{
			opacity:.6;
			white-space: nowrap;
		}
		&>span{
			color:#545454;
			font-size: 11px;
			line-height: 13px;
			text-decoration: none;
			margin-left: 10px;
			display: inline-flex;
			text-align: right;
		}
	}
	& img{
		top:0px!important;
	}
	text-decoration: none;
}
.size__picker--mobile .dropdown>a{
	text-decoration: none;
}
.size__picker--mobile .dropdown>a img{
	top:0px;
}
.size__picker .inner__size .right__part .size__wrapper .size__picker--list>.elem.disabled .right{
	display: inline-flex;
	align-items:center;
}
.option__wrapper{
	width: 100%;
	max-width: 1240px;
	& .inner__option{
		& .left__part{
			margin-top: 48px;
		}
		& .right__part{
			& .choose__media{
				margin-bottom: 35px;
				& .grid__media{
					display: grid;
					grid-template-columns:repeat(3,1fr);
					grid-column-gap:20px;
					grid-row-gap:20px;
					&>.el{
						padding:4px;
						border:1px solid #D8D8D8;
						border-radius: 4px;
						text-decoration: none;
						transition:.3s ease all;
						&.current{
							border-color:#EE4B2B;
						}
						& .desc{
							padding-left: 12px;
							padding-right: 12px;
							padding-bottom: 12px;
							& .txt{
								&>p{
									margin:0px;
									font-size: 14px;
									line-height: 18px;
									color:#545454;
									font-weight: 400;
								}
							}
							& .top{
								display: flex;
								align-items:flex-start;
								justify-content:space-between;
								&>span{
									display: inline-flex;
									margin-left: 5px;
								}
								&>p{
									margin:0px;
									font-size: 14px;
									line-height: 18px;
									color:#454545;
									font-family:"Bitter" ,sans-serif;
									font-weight: 600;
								}
							}
						}
						& .media{
							position: relative;
							height: 0px;
							padding-bottom:70%;
							margin-bottom: 8px;
							& img{
								position: absolute;
								left: 0px;
								top:0px;
								width: 100%;
								height: 100%;
								border-radius: 4px;
								object-fit:cover;
							}
						}
					}
				}
				&>p{
					margin-top: 0px;
					margin-bottom: 12px;
					font-size: 18px;
					line-height: 26px;
					font-family: "Bitter" ,sans-serif;
					font-weight: 600;
					color:#454545;
				}
			}
			& .choose__border{
				& ul{
					padding:0px;
					list-style-type: none;
					margin:0px;
					display: grid;
					grid-template-columns:repeat(3 ,1fr);
					grid-column-gap:12px;
					grid-row-gap:12px;
					&>li{
						width: 100%;
						&>a{
							display: inline-flex;
							align-items:center;
							justify-content:center;
							height: 41px;
							border-radius: 4px;
							border:1px solid #D8D8D8;
							transition:.3s ease all;
							font-size: 14px;
							line-height: 18px;
							font-weight: 600;
							font-family:"Bitter" ,sans-serif;
							color:#454545;
							text-decoration: none;
							width: 100%;
							&.current{
								border-color:#EE4B2B;
							}
						}
					}
				}
				&>.top{
					display: flex;
					flex-direction:column;
					align-items:flex-start;
					margin-bottom: 12px;
					&>p{
						margin-top: 0px;
						margin-bottom: 0px;
						font-size: 18px;
						line-height: 26px;
						font-weight: 600;
						color:#454545;
					}
					&>span{
						display: block;
						font-size: 14px;
						line-height: 22px;
						color:#545454;
						font-weight: 400;
					}
				}
			}
			& .top__information{
				display: flex;
				align-items:center;
				justify-content:flex-start;
				margin-bottom: 35px;
				& .row__els{
					display: flex;
					align-items:center;
					justify-content:flex-start;
					&>.el{
						display: flex;
						align-items:center;
						justify-content:flex-start;
						margin-right: 44px;
						&:last-child{
							margin-right: 0px;
						}
						&>.txt{
							display: inline-flex;
							flex-direction:column;
							align-items:flex-start;
							&>span{
								display: block;
								margin-bottom: 4px;
								font-size: 14px;
								line-height: 17px;
								color:#545454;
								font-weight: 400;
							}
							&>p{
								margin:0px;
								font-size: 18px;
								line-height: 24px;
								color:#454545;
								font-family:"Bitter" ,sans-serif;
								font-weight: 600;
							}
						}
						&>.media{
							display: inline-flex;
							align-items:center;
							justify-content:center;
							margin-right: 8px;
							& img{
								min-width: 44px;
								max-width: 44px;
								border-radius: 4px;
							}
						}
					}
				}
				& .quantity{
					margin-right: 44px;
					&>p{
						margin-top: 0px;
						margin-bottom: 3px;
						font-size: 14px;
						line-height: 18px;
						color:#545454;
					}
					& .quant{
						display: inline-flex;
						align-items:center;
						& input{
							margin:0px 4px;
							width: 32px;
							height: 22px;
							border-radius: 2px;
							border:1px solid #D8D8D8;
							background-color:#fff;
							outline:none;
							font-size: 14px;
							line-height: 18px;
							color:#545454;
							text-align: center;
						}
						justify-content:flex-start;
						&>a{
							display: inline-flex;
							align-items:center;
							justify-content:center;
							min-width: 22px;
							max-width: 22px;
							min-height: 22px;
							max-height: 22px;
							border-radius: 250px;
							background-color:#EE4B2B;
						}
					}
				}
			}
			& .title{
				margin-bottom: 28px;
				&>h6{
					font-family:"Bitter" ,sans-serif;
				}
			}
		}
	}
}
.option__wrapper .inner__option .left__part{
	padding:45px;
	border:1px solid #545454;
	& .media img{
		border-radius: 0px!important;
	}
}
.option__wrapper .inner__option .right__part .title>h6{
	margin-bottom: 0px;
}
.option__wrapper .inner__option .left__part{
	margin-top: 64px;
}
@media (max-width: 1440px) and (max-height: 768px) and (min-width:1280px){
	.form__wrapper .bottom__part{
		padding:20px 56px;
	}
	.form__wrapper .top__part{
		padding-top:25px;
	}
	.form__wrapper .upload__photos .droppable__area{
		margin-top: 15px;
	}
	.form__wrapper .upload__photos .droppable__area .overlay .inn .media img{
		max-width: 75px;
	}
	.form__wrapper .upload__photos .droppable__area .overlay .inn .media{
		margin-bottom: 15px;
	}
	.form__wrapper .steps{
		margin-bottom: 25px;
	}
	.form__wrapper .upload__photos .droppable__area{
		padding:15px 20px;
		min-height: 165px;
	}
}
@media (max-width: 1440px){
	.tooltip__box{
		margin-left: -110px;
	}
}
.tooltip__box.no__space{
	margin-left: 130px!important;
}
.size__picker{
	max-width: 1040px;
}
.size__picker .left__part{
	top:52px;
	position: relative;
}
@media (max-width: 1200px){
	.option__wrapper .inner__option .right__part .top__information{
		flex-direction:column-reverse;
	}
	.option__wrapper .inner__option .right__part .top__information .quantity{
		margin-right: auto;
		margin-top: 35px;
	}
	.option__wrapper .inner__option .right__part .top__information .row__els{
		width: 100%;
	}
	.option__wrapper .inner__option .right__part .choose__media .grid__media{
		grid-template-columns:repeat(2 ,1fr);
	}
	.uploaded__files .inn{
		grid-template-columns:repeat(4 ,1fr);
	}
	.overlay{
		display: none!important;
	}
}
.more{
	display: none;
}
.dropdown>a{
	background-color:#fff;
}
@-webkit-keyframes spin {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
.form__wrapper .grid__photos .elem>.media .inn__loading>p{
	font-weight: 400;
}
.option__wrapper .inner__option .left__part .media{
	margin-bottom: 0px;
}
@media (max-width: 991px){
	.option__wrapper .inner__option .right__part .title{
		display: none;
	}
	.option__wrapper .inner__option .right__part .choose__media .grid__media{
		display: flex;
		overflow-x:auto;
		padding-bottom: 5px;
		width: calc(100% + 56px);
		&>.el{
			min-width: 212px;
			max-width: 212px;
		}
	}
	.option__wrapper .inner__option .left__part{
		margin-top: 0px;
		padding:0px;
	}
	.size__picker .left__part{
		top:0px!important;
	}
	.form__wrapper .bottom__part .step__one>.inn>.regular-btn, .form__wrapper .bottom__part .step__two>.inn>.regular-btn, .form__wrapper .bottom__part .step__three>.inn>.regular-btn, .form__wrapper .bottom__part .step__four>.inn>.regular-btn{
		padding-left: 24px;
		padding-right: 24px;
	}
	.form__wrapper .bottom__part .step__one>.inn>.regular-btn{
		padding-left: 24px;
		padding-right: 24px;
	}
	.form__wrapper .bottom__part{
		padding:20px 30px;
	}
	.form__wrapper .bottom__part .step__one>.inn>.regular-btn.disabled{
		padding-left: 20px;
		padding-right: 20px;
	}
	.form__wrapper .grid__photos .elem>.media .inn__loading>p{
		font-size: 15px;
		line-height: 21px;
	}
	.form__wrapper .grid__photos .elem{
		min-width: 0px;
		max-width: 100%;
		margin:0px!important;
	}
	.form__wrapper .grid__photos{
		grid-column-gap:8px;
		grid-row-gap:8px;
	}
	.form__wrapper .upload__photos .droppable__area{
		margin:0px!important;
	}
	.form__wrapper .grid__photos{
		margin-top: 25px;
	}
	.option__wrapper .inner__option .right__part{
		width: 100%;
		& .box{
			padding:10px;
			border-radius: 8px;
			border:1px solid #DEDEDE;
			background-color:#FBFBFB;
		}
	}
	.option__wrapper .inner__option{
		flex-direction:column;
	}
	.size__picker .inner__size .right__part .size__wrapper .float__part{
		padding:10px 22px;
	}
	.size__picker .inner__size .right__part .size__wrapper .size__picker--list>.elem{
		padding:12px 22px;
	}
	.size__picker .inner__size{
		flex-direction:column;
	}
	.size__picker .left__part , .option__wrapper .inner__option .left__part{
		width: 100%;
		max-width: 350px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 32px;
	}
	.size__picker .inner__size .right__part{
		width: 100%;
	}
	.uploaded__files .inn .elem .desc .left{
		padding-top:1px;
	}
	.uploaded__files .inn .elem .desc .controls{
		position: absolute;
		right: 11px;
		top:0px;
		flex-direction:column;
		align-items:flex-start;
		border:1px solid #DEDEDE;
		border-radius: 5px;
		background-color:#fff;
		top:28px;
		opacity:0;
		pointer-events:none;
		z-index: 2;
		transition:.3s ease all;
		&.active{
			opacity:1;
			pointer-events:initial;
		}
		&>a{
			margin-bottom: 5px;
			&:last-child{
				margin-bottom: 0px;
			}
		}
		padding:7px 10px;
	}
	.uploaded__files .inn .elem .desc{
		position: relative;

	}
	.more{
		display: inline-flex;
		&>a{
			display: inline-flex;
			align-items:center;
			justify-content:center;
			& img{
				min-width: 20px;
				max-width: 20px;
			}
		}
	}
	.uploaded__files .inn .elem .desc .controls>a{
		font-size: 12px;
		line-height: 15px;
		min-width: 0px;
		max-width: 100%;
		min-height: 0px;
		max-height: none;
		& svg{
			min-width: 20px;
			margin-right: 12px;
		}
	}
	.uploaded__files .inn{
		grid-template-columns:repeat(3 ,1fr);
	}

	.form__wrapper .grid__photos{
		display: grid;
		grid-template-columns:repeat(2 ,1fr);
	}
	.form__wrapper .upload__photos .droppable__area{
		min-width: 0px;
		max-width: 100%;
		width: 100%;
		grid-column:span 2;
	}
}
.after__float{
	display: none;
}
.dropdown{
	position: relative;
	& .dropdown__box{
		top:100%;
		position: absolute;
		left: 0px;
		width: 100%;
		max-height: 240px;
		overflow-y:auto;
		padding:5px;
		background-color:#fff;
		z-index: 2;
		border:1px solid #DBDBDB;
		border-radius: 6px;
		& ul{
			padding:0px;
			list-style-type: none;
			margin:0px;
			&>li{
				margin-bottom: 2px;
				&>a{
					display: flex;
					align-items:center;
					justify-content:flex-start;
					padding:5px 12px;
					border-radius: 6px;
					transition:.3s ease all;
					&:hover{
						background-color:rgba(37,113,138,.2);
					}
					& p{
						& img{
							display: inline;
							position: relative;
							top:8px;
							min-width: 9px;
							max-width: 9px;
							margin:0px 2px;
						}
						margin:0px;
						font-size: 16px;
						line-height: 24px;
						color:#454545;
					}
				}
			}
		}
		&::-webkit-scrollbar {
		  width: 6px;
		  border-radius: 250px
		}
		 
		&::-webkit-scrollbar-track {
			background-color:#E7E7E7;
		  border-radius: 250px
		}
		 
		&::-webkit-scrollbar-thumb {
		  background-color:#B8B8B8;
		  border-radius: 250px;
		}
	}
	&>a{
		display: flex;
		align-items:center;
		justify-content:space-between;
		height: 44px;
		border-radius: 6px;
		border:1px solid #DBDBDB;
		padding-left: 16px;
		padding-right: 16px;
		&.opened{
			&>img{
				transform:rotate(180deg);
			}
		}
		&>img{
			transition:.3s ease all;
		}
		&>p{
			margin:0px;
			font-size: 16px;
			line-height: 20px;
			color:#454545;
			font-weight: 400;
			& img{
				display: inline;
				margin:0px 2px;
				position: relative;
				top:7px;
				min-width: 9px;
				max-width: 9px;
			}
		}
	}

}
.size__picker--mobile{
	display: none;
}
@media (max-width: 700px){
	.option__wrapper .inner__option .right__part .choose__media .grid__media{
		width: calc(100% + 15px);
	}
	.option__wrapper .inner__option .right__part .choose__border ul{
		grid-template-columns:repeat(2 ,1fr);
	}
	.form__wrapper .steps{
		width: 100%;
	}
	.added__cart .inner .box{
		max-width: 330px;
		width: 100%;
	}
	.added__cart .inner .box>.top img{
		max-width: 60px;
	}
	.added__cart .inner .box .added__info{
		padding:28px 16px;
	}
	.added__cart .inner .box .added__info .btns .outline-btn , .added__cart .inner .box .added__info .btns .regular-btn{
		font-size: 14px;
		min-height: 36px;
	}
	.added__cart .inner .box .added__info>p br{
		display: none;
	}
	.added__cart .inner .box .added__info .btns{
		margin-top: 28px;
	}
	.option__wrapper .inner__option .right__part .title>span{
		display: inline-flex;
	}
	.option__wrapper .inner__option .right__part .title>h6{
		margin-bottom: 0px;
	}
	.option__wrapper .inner__option .right__part .title{
		margin-bottom: 65px;
	}
	.option__wrapper .inner__option .right__part .group__input>p{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 8px;
	}
	.option__wrapper .inner__option .right__part .group__input{
		margin-bottom: 32px;
	}
	.option__wrapper .inner__option .right__part .choose__element .top>p{
		font-size: 16px;
		line-height: 24px;
	}
	.option__wrapper .inner__option .right__part .choose__element .top{
		margin-bottom: 8px;
	}
	.option__wrapper .inner__option .right__part .choose__element{
		margin-bottom: 32px;
	}
	.option__wrapper .inner__option .right__part .result{
		margin-top: 0px;
		padding-top: 0px;
		border-top:0px;
	}
	.option__wrapper .inner__option .right__part .result p{
		margin-bottom: 8px;
		font-size: 16px;
	}
	.option__wrapper .inner__option .right__part .result p.size span{
		font-size: 16px;
		line-height: 24px;
		padding-left: 10px;
	}
	.option__wrapper .inner__option .right__part .result p.price span{
		font-size: 16px;
		line-height: 24px;
		padding-left: 16px;
	}
	.option__wrapper .inner__option .right__part .box{
		border:0px;
		padding:0px;
		background-color:transparent;
	}
	.size__picker--mobile{
		display: block;
		& .dropdown__box{
			top:auto;
			bottom:100%;
			margin-bottom: 6px;
			margin-top: 0px;
		}
	}
	.after__float{
		display: inline-flex;
		margin-bottom: 8px;
		margin-top: 28px;
		&>p{
			margin:0px;
			font-size: 16px;
			line-height: 20px;
			color:#6A6A6A;
		}
	}
	.size__picker .inner__size .right__part .size__wrapper .float__part>p{
		font-size: 16px;
		line-height: 20px;
		& img{
			min-width: 6px;
			max-width: 6px;
			margin:0px 4px;
		}
	}
	.size__picker .inner__size .right__part .size__wrapper .float__part>span{
		font-size: 16px;
		line-height: 20px;
	}
	.size__picker .inner__size .right__part .size__wrapper .float__part{
		padding:12px 16px;
	}
	.size__picker .inner__size .right__part .size__wrapper .size__picker--list{
		display: none;
	}
	.size__picker .inner__size .right__part .size__wrapper .float__part{
		position: static;
		margin-top: 8px;
	}
	.size__picker .inner__size .right__part>.top__select>p{
		font-size: 20px;
	}
	.size__picker .inner__size .right__part>.top__select{
		margin-bottom: 8px;
	}
	.size__picker .left__part ,  .option__wrapper .inner__option .left__part{
		max-width: 100%;
	}
	.size__picker .left__part .bottom__info>p , .option__wrapper .inner__option .left__part .bottom__info>p{
		font-size: 14px;
		line-height: 20px;
	}
	.size__picker .left__part .bottom__info>a img  ,  .option__wrapper .inner__option .left__part .bottom__info>a img{
		width: 20px;
		min-width: 20px;
	}
	.size__picker .left__part .bottom__info>p  , .option__wrapper .inner__option .left__part  .bottom__info>p{
		padding-top:0px;
	}
	.uploaded__files .inn .elem .desc .controls{
		right: 0px;
	}
	.uploaded__files .inn .elem .desc .left{
		padding-top: 4px;
	}
	.form__wrapper .top__part{
		padding-left: 24px;
		padding-right: 24px;
	}
	.form__wrapper .top__part{
		padding-top:28px;
	}
	.form__wrapper .steps{
		margin-bottom: 48px;
	}
	.form__wrapper .steps>.elem__step{
		flex-direction:column;
		min-width: 80px;
	}
	.form__wrapper .steps>.elem__step>span{
		margin-right: 0px;
		margin-bottom: 6px;
		min-width: 20px;
		max-width: 20px;
		min-height: 20px;
		max-height: 20px;
		font-size: 10px;
	}
	.form__wrapper .steps>.elem__step>p{
		margin-left: 0px;
		font-size: 12px;
		line-height: 16px;
	}
	.form__wrapper .steps .spacer{
		margin:0px -25px;
		position: relative;
		top:-11px;
	}
	.form__wrapper .upload__photos>h6{
		font-size: 20px;
		line-height: 28px;
	}
	.form__wrapper .upload__photos .droppable__area{
		margin-top: 24px;
	}
	.form__wrapper .upload__photos .droppable__area{
		min-height: 135px;
	}
	.form__wrapper .upload__photos .droppable__area>span img{
		max-width: 36px;
	}
	.form__wrapper .upload__photos .droppable__area>p{
		font-size: 14px;
		line-height: 19px;
	}
	.form__wrapper .bottom__part{
		padding:20px 15px;
	}
	.uploaded__files .inn .elem>.media .inn__loading>p{
		margin-top: 12px;
		font-size: 12px;
		line-height: 16px;
	}
	.uploaded__files .inn{
		grid-row-gap:20px;
		grid-column-gap:12px;
	}
	.uploaded__files .inn .elem>.media .inn__loading .progress__loading .circle canvas{
		width: 32px!important;
		height: 32px!important;
	}
	.uploaded__files .inn .elem .desc .left>p{
		font-size: 12px;
		line-height: 15px;
	}
	.uploaded__files .inn .elem .desc{
		padding-left: 0px;
		padding-right: 0px;
	}
	.form__wrapper .top__part{
		padding-left: 15px;
		padding-right: 15px;
	}
	.size__picker .left__part{
		max-width: 285px;
		margin-bottom: 25px;
	}
	.size__picker .inner__size .right__part>.top__select{
		display: none;
	}
}
@media (max-width: 400px) and (max-height: 700px){
	.form__wrapper .steps{
		margin-bottom: 32px;
	}
	.form__wrapper .upload__photos>h6{
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 5px;
	}
	.form__wrapper .upload__photos>p{
		font-size: 13px;
		line-height: 20px;
	}
	.form__wrapper .upload__photos .droppable__area{
		margin-top: 15px;
	}
}
@media (max-width: 480px){
	.option__wrapper .inner__option .right__part .top__information .row__els>.el{
		margin-right: 20px;
		&>.media{
			& img{
				min-width: 34px;
				max-width: 34px;
			}
		}
		&:last-child{
			margin-right: 0px;
		}
	}
	.option__wrapper .inner__option .right__part .top__information .row__els>.el>.txt>span{
		font-size: 12px;
		line-height: 14px;
	}
	.option__wrapper .inner__option .right__part .top__information .row__els>.el>.txt>p{
		font-size: 15px;
		line-height: 19px;
	}
}
@media (max-width: 400px){
	.option__wrapper .inner__option .right__part .choose__border ul{
		grid-template-columns:1fr;
	}
	.option__wrapper .inner__option .right__part .top__information .row__els{
		flex-direction:column;
		&>.el{
			width: 100%;
			margin-right: 0px;
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0px;
			}
		}
	}
	.added__cart .inner .box .added__info .btns{
		grid-column-gap:6px;
	}
	.uploaded__files .inn{
		grid-template-columns:repeat(2 ,1fr);
	}
}
@media (max-width: 360px){
	.size__picker--mobile .dropdown__box ul li a.disabled>span{
		font-size: 9px;
		line-height: 13px;
	}
}