.top__product{
	padding:50px 0px;
	background-color:#f2f2f2;
	& .outer__top{
		& .grid{
			display: grid;
			grid-template-columns:repeat(4 ,1fr);
			grid-column-gap:40px;
			& .elem{
				position: relative;
				padding-bottom: 55px;
				& .desc{
					& .btn{
						position: absolute;
						left: 0px;
						bottom:0px;
						&>a{
							min-width: 130px;
							min-height: 40px;
							display: inline-flex;
							align-items:center;
							justify-content:center;
							border:2px solid #ec4f30;
							background-color:#ec4f30;
							text-decoration: none;
							font-size: 16px;
							line-height: 18px;
							font-weight: 400;
							color:#fff;
							border-radius: 3px;
							transition:.3s ease all;
							&:hover{
							    border-color: #f0775f;
							    background: #f0775f;
							}
						}
					}
					&>p{
						margin:0px;
						color:#1B1B1B;
						font-size: 17px;
						line-height: 26px;
					}
					&>span{
						display: block;
						margin-bottom: 8px;
						font-family:"Bitter" ,sans-serif;
						color:#1B1B1B;
						font-size: 21px;
						font-weight: bold;
					}
				}
				&>.media{
					display: block;
					padding-bottom: 66%;
					position: relative;
					height: 0px;
					margin-bottom: 23px;
					& picture{
						position: absolute;
						left: 0px;
						top:0px;
						width: 100%;
						height: 100%;
						object-fit:cover;
					}
					& img{
						
						width: 100%;
						height: 100%;
						object-fit:cover;
					}
				}
			}
		}
		&>.title{
			text-align:center;
			&>h6{
				margin:0px;
				font-weight: bold;
				color:#1B1B1B;
				font-family:"Bitter" ,sans-serif;
				font-size: 23px;
				margin-top: 0px;
				margin-bottom: 15px;
			}
		}
	}
}
@media (max-width: 1200px){
	.top__product .outer__top .grid{
		grid-template-columns:repeat(2 ,1fr);
		grid-row-gap:30px;
		max-width: 740px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width: 767px){
	.top__product .outer__top .grid{
		grid-template-columns:1fr;
	}
	.top__product .outer__top .grid .elem>.media{
		margin-bottom: 15px;
	}
	.top__product .outer__top .grid{
		grid-row-gap:45px;
	}
}